@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes curl {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}